:root {
 --black-color: rgb(87, 87, 87, 0.1);
 --width_of_logo: 400px;
 --height_of_logo: 70px;
 --standard-30px: 30px;
 --page-color-background: rgb(210, 210, 210);
 --namecard-btn-height: 2em;
 --namecard-btn-width: 10em;
 --btn-border-radius: .5em;
}

@font-face {
font-family: "CustomFont";
src: url("../font/webfontkit-20231023-143315/carre-jwja-webfont.woff") format("woff");
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}
.text {
    font-family: 'Roboto', sans-serif;
    color: rgb(36, 36, 36);
    font-size: 14pt;
}
.text_bold {font-weight: bold;vertical-align: baseline;}
.text_logo {
    font-family: 'Aclonica Font', sans-serif;
    color: rgb(36, 36, 36);
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    vertical-align: baseline;
}
.text_white {color:white;}
.text_title_size_m {font-size: 18pt;}
.text_title_size_l {font-size: 22pt;}
.text_title_size_s {font-size: 14pt;}
.text_title_size_xl {font-size: 60px;}
.text-gradient {
    background: linear-gradient(to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: animate-gradient 5s linear infinite alternate;
}
@keyframes animate-gradient {
    0% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}
}

.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 4;
}
.placeholder {
    display: block;
    background-color: none;
    width: 30%;
}
header {
    display: flex;
    background-color: rgb(230 230 230 / 0.8);
    height: 3em;
    box-sizing: border-box;
    margin-top: 2%;
    padding: 0 8%;
    backdrop-filter: blur(10px);
    align-items: center; 
}
.button {
    display: block;
    background-color: none;
    min-width: 4em;
    width: auto;
    margin: 0 .3em;
    padding: 0.5em 1%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
.button:hover {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000000;
}

.container_btn-sign-up {
    display: block;
    margin: .5% 0 .5%;
    padding-left: 8em;
    padding-right: 2em;
}
.btn-sign-up_back {
    position: relative;
    top: -.1em;
    align-content: center;
    width: 5em;
    height: 2em;
}
.btn-sign-up {
  height: 1.9em;
  width: 4.9em;
  position: absolute;
  left: .5em;
  text-decoration: none;
  font-size: 16pt;
  color: #000;
  border-radius: var(--btn-border-radius);
  background-color: #FFF; 
}
.btn-sign-up::after {
    content: "Sign up";
    position: absolute;
    background-color: #fff;
    mix-blend-mode: screen;
    top: .03em;
    left: .05em;
    height: calc(102% - .25em);
    width: calc(100% - .25em);
    border-radius: var(--btn-border-radius);
    font-family: 'Roboto', sans-serif;
    color: inherit;
    font-size: 14pt;
    display: grid;
    place-items: center;
}
.btn-sign-up::before {
  content:"";
  position: absolute;
  top: -.115em;
  left: -.115em;
  background: linear-gradient(to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 70%,
        #764ada 80%);
  height: 2em;
  width: 5em;
  border-radius: var(--btn-border-radius);
  background-size: 500% auto;
  animation: animate-gradient 5s linear infinite alternate;
}
.btn-sign-up:hover::after {
    transition: cubic-bezier(0.1, 0.8, 0.5, 2);
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    background-color: var(--page-color-background);
    padding: 1% 5%;
}
.main_container {
    padding: 0 8%;
    background-color: #FFFFFF;
}
.main_elem {
    margin-top: 2%;
    margin-bottom: 3%;
}
.namecards-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.namecards-list-fee {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.main_namecards-list_namecard {
    display: flex;
    flex-direction: column;
    padding:1.5%;
    text-decoration: none;
    transition: all 100ms ease-in;
}
.main_namecards-list_namecard:hover {
    box-shadow: 0 3px 4px 2px gray;
    transform: scale(1.02);
}
.main_namecards-list_namecard_img {
    height: auto;
    width: 100%;
    padding-bottom: 2%;
}

.main_namecards-list_namecard_span {padding-top: 3%;}

.footer-main {
      font-family: 'Roboto', sans-serif;
      background-color: #000000;
      padding: 60px 40px;
      color: #000000;
      margin-bottom: 20px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 6px;
}
.footer-main .footer-brand, .footer-main .footer-nav {padding:10px 25px;}
.footer-main .footer-nav {border-color: transparent;}
.footer-main .footer-brand h2 { 
    margin:0px 0px 10px; 
    color: #FFFFFF;
}
.footer-main .footer-brand p { 
    font-size: 12px; 
    color:rgba(255,255,255,0.70); 
}

.footer-main .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
  color: #FFFFFF;
}

.footer-main .footer-nav ul.list {list-style:none; padding:0px; }
.footer-main .footer-nav ul.list li {padding:5px 0px;}
.footer-main .footer-nav ul.list a {color:rgba(255,255,255,0.80); }

@media (min-width: 768px) {
  .footer-main .footer-nav, { 
    border-left:solid 1px rgba(255,255,255,0.10);
    }
}

.title {
    display: block;
    margin: 0;
    padding: 15%;
    height:100%;
    width: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12%;
    width: 100%;
}

.namecard {
    margin: -10% 1em 0;
    padding: 3em 3em 2em;
    height: 40em;
    min-width: 10em;
    max-width: 35em;
    width: 20em;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.namecard_title {
    width: 100%;
    height: 1em;
    text-align: center;
}
.namecard_description {
    display: block;
    width: 100%;
    padding: 3% 0;
}

.dollar-sign {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 32px;
    line-height: 40px;
}
.price {
    letter-spacing: -.02em;
    font-weight: 500;
    line-height: 1em;
}
.namecard_price {
    font-family: 'CustomFont', sans-serif;
    color: #000;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    display: flex;
}

.namecard_features-list {
    color: #000;
    margin-top: 28px;
    margin-bottom: 14px;
    font-size: 14pt;
    font-weight: 700;
    line-height: 24px;
}
.features-checklist {
    grid-row-gap: 7px;
    grid-column-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.checklist-item {
    align-items: center;
    display: flex;
    padding-top: 10px;
} 
.checklist-img {
    height: 1em;
    max-width: 100%;
    display: inline-block;
    margin-right: 7px;
}

.back_namecard_btn {
    position: relative;
    align-content: center;
    width: 100%;
}
.namecard_btn_standard, .namecard_btn_pro, 
.namecard_btn_ultimate, .namecard_btn_common {
  height: var(--namecard-btn-height);
  width: var(--namecard-btn-width);
  position: absolute;
  left: .5em;
  text-decoration: none;
  font-size: 16pt;
  color: #000;
  border-radius: var(--btn-border-radius);
  background-color: #FFF; 
}
.namecard_btn_standard::after, .namecard_btn_pro::after, 
.namecard_btn_ultimate::after, .namecard_btn_common::after {
    content: "Get Started";
    position: absolute;
    background-color: #fff;
    mix-blend-mode: screen;
    top: 0.1em;
    left: 0.1em;
    height: calc(102% - .25em);
    width: calc(100% - .25em);
    border-radius: var(--btn-border-radius);
    font-family: 'Roboto', sans-serif;
    color: inherit;
    font-size: 14pt;
    display: grid;
    place-items: center;
}
.namecard_btn_standard::before, .namecard_btn_pro::before, 
.namecard_btn_ultimate::before, .namecard_btn_common::before {
  content:"";
  position: absolute;
  top: -.125em;
  left: -.125em;
  width: calc(var(--namecard-btn-width) + .25em);
  height: calc(var(--namecard-btn-height) + .25em);
  border-radius: var(--btn-border-radius);
  background-size: 200%;
}
.namecard_btn_standard::before {background-color: #000;}
.namecard_btn_common {background-color: #2F80ED;}
.namecard_btn_common:hover::after {
    transition: background-color cubic-bezier(0.1, 0.8, 0.5, 2) .8s;
    background-color: #2F80ED;
    mix-blend-mode: normal;
    color: #FFF;
}
.namecard_btn_pro::before {
  background-image: linear-gradient(to right, #2DDAE7 0%, #497BE8  51%, #2DDAE7  100%);
  animation: animateborder 8s linear 0s infinite running;
}
.namecard_btn_ultimate::before {
  background-image: linear-gradient(to right, 
        rgb(79, 207, 112), 
        rgb(250, 214, 72), 
        rgb(167, 103, 229), 
        rgb(18, 188, 254), 
        rgb(68, 206, 123));
  animation: animateborder 8s linear 0s infinite running;
}
.namecard_btn_ultimate:hover::after {
    transition: cubic-bezier(0.1, 0.8, 0.5, 2);
    mix-blend-mode: multiply;
    color: #FFF;
}
@keyframes animateborder {
    0% {background-position: 200% 0px;}
    100% {background-position: -200% 0px;}
}

._menu{
    display: flex;
    border-bottom: 1px solid var(--black-color);
    align-items: stretch;
    overflow-x: auto scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
}
._menu_item{
    display: table-cell;
    vertical-align: middle;
    padding: 1em 2%;
    text-align: center;
    color:rgb(59, 59, 59);
}
._menu_item:hover {background-color: var(--black-color);}
.menu_namecard {
    border: 2px solid var(--black-color);
    width: calc(100% / 2 - 1.5% / 2);
    box-sizing: border-box;
    padding: 3%;
    margin-bottom: 1.5%;
    display: flex;
    border-radius: 15px;
    background-color: #FFFFFF;
}
.menu_namecard:hover {background-color: var(--black-color);}
.menu_namecard:nth-child(even){margin-left: 1.5%;}
.menu_namecard_description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 2em;
}
.menu_namecard_img {
    height: 12em;
    width: 40em;
    border-radius: 10px;
}
.animation_gradient {
    background-image: linear-gradient(to right, #2DDAE7 0%, #497BE8  51%, #2DDAE7  100%);
    background-size: 200%;
    animation: animateborder 12s linear 0s infinite running;
}


@media (min-width:1200px){
    .main_namecards-list_namecard{
       width: calc(100% / 3 - 7% * 2 / 3); 
       margin-bottom: 3%;
    }
    .main_namecards-list_namecard:not(:nth-child(3n)){
        margin-right: 1.5%;
    }
}

@media (min-width:700px) and (max-width:1200px){
    .main_namecards-list_namecard{
       width: calc(100% / 2 - 15% / 2); 
       margin-bottom: 3%;
       padding: 2%;
    }
    .main_namecards-list_namecard:nth-child(odd){
        margin-right: 5%;
    }
    .menu_namecard{
        width: 100%;
    }
    .menu_namecard:nth-child(even){
    margin-left: 0;
}
}

@media (max-width:700px){
    .main_namecards-list_namecard{
       width: 100%;
       margin: 4% 0;
       padding: 3%;
    }
    .header{
        padding: 2% 7%;
    }
    .button_img_cart{
        display: none;
    }
    .button{
        height: 30px;
        width: 15%;
    }
    .main_elem:not(:last-child){
        margin-top: 3%;
    }
    .footer_out_container{
        padding-bottom: 5%;
        margin-top: 5%;
    }
    .footer_in_container,.terms_item{
        margin: 2% 0;
        text-align: left;
        width: 100%;
    }
    .footer_in_container:not(:last-child){
        margin-bottom: 4%;
    }
    .menu_namecard{
        width: 100%;
    }
    .menu_namecard:nth-child(even){
    margin-left: 0;
    }
    .main_elem{
        margin-top: 8%;
    }
    .menu_namecard{
        padding: 4.5%;
        margin-bottom: 5%;
    }

}

